{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <style>
      .container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          margin: 20px;
      }
      .description {
          padding: 40px;
      }
      .carousel {
          padding: 40px;
      }
      .your-class img {
          width: 500px; /* 画像の幅を指定 */
          height: 300px; /* 画像の高さを指定 */
          object-fit: cover; /* 画像の比率を維持しながら枠内に収める */
      }
  </style>
