{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<style>
    .container {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* 全体を中央揃えに */
    }
    .description {
        padding: 20px;
        text-align: center; /* テキストを中央揃えに */
    }
    .carousel {
        padding: 20px;
        width: 100%;
        max-width: 500px; /* カルーセルの最大幅を設定 */
        margin: 0 auto; /* カルーセルを中央に配置 */
    }
    .your-class img {
        width: 100%; /* 親要素に合わせて幅を100%に設定 */
        height: auto; /* 高さを自動調整 */
        max-width: 500px; /* 最大幅を500pxに設定 */
        /*max-height: 300px; /* 最大高さを300pxに設定 */
        object-fit: cover; /* 画像の比率を維持しながら枠内に収める */
    }
    .slick-dots {
        text-align: center; /* dotsを中央揃えに */
    }
</style>
