---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="container">
    <div class="description">
        <h1>Welcome to Ryosuke AKizawa's Portfolio</h1>
        <p> Here you will find information about my research, projects, and other activities. Feel free to browse through the sections and learn more about my work.</p>
    </div>
    <div class="carousel">
        <div class="your-class">
            <div>
                <a href="link-to-your-research-1"><img src="https://github.com/Ryoaki374/mywebsite/blob/main/figure/1000005617.jpg?raw=true" alt="Research 1"></a>
                <p>Research 1 Description</p>
            </div>
            <div>
                <a href="link-to-your-research-2"><img src="https://github.com/Ryoaki374/mywebsite/blob/main/figure/1000005617.jpg?raw=true" alt="Research 2"></a>
                <p>Research 2 Description</p>
            </div>
            <div>
                <a href="link-to-your-research-3"><img src="https://github.com/Ryoaki374/mywebsite/blob/main/figure/1000005617.jpg?raw=true" alt="Research 3"></a>
                <p>Research 3 Description</p>
            </div>
            <!-- Add more slides as needed -->
        </div>
    </div>
</div>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <!--
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    -->

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>
